[Unit]
Description=Ironic Python Agent
After=network-online.target

[Service]
ExecStartPre=/sbin/modprobe vfat
ExecStart=/usr/local/bin/ironic-python-agent --auto_tls_allowed_clock_skew 86400 --config-dir /etc/ironic-python-agent.d/
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target

